.contenedorSectionNuestrosClientes {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 100px;
  }
  
  .contenedorLogosClientes {
    margin-top: 50px;
    display: grid;
    width: 100%;
    padding: 0px 180px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    align-items: center;
  }
  
  .logosClientes {
    width: 100%;
    height: auto;
  }
  
  @media (max-width: 954px) {
    .contenedorLogosClientes {
      grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
      padding: 0px 80px;
    }
  }
  
  @media (max-width: 560px) {
    .contenedorLogosClientes {
      padding: 0px 30px;
    }
  }
  